* {
    font-family: 'Open Sans', sans-serif;
}
.main {
    width: 100%;
    height: 100%;
}
.main .container  {
    width: 90%;
    height: 590px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: auto;
    margin-top: 2%;
}
.main .container .box1 {
    width: 40%;
    height: 100%;
    background-color: #58AF9C;
    border-radius: 20px 0px 0px 20px;
    float: left;
}
.main .container .box1 img{
    height: 45px;
    margin-left: 5%;
    margin-top: 10px;
    transition: 0.4s all;
}
.main .container .box1 img:hover {
    transform: scale(1.3,1.3);
    transition: 0.4s all;
}
.main .container .box1 h2 {
    margin-top: 18%;
    font-size: 60px;
    color: white;
    margin-left: 20%;
}
.main .container .box1 p{
    margin-left: 4%;
    font-size: 17px;
    color: white;
    font-weight: lighter;
}
.main .container .box2 {
    float: left;
    width: 60%;
}
.main .container .box2 h2 {
    margin-top: 5%;
    font-size: 35px;
    margin-left: 25%;
    color: #58AF9C;
}
.main .container .box2 #lista-redes {
    margin-left: 26%;
    display: grid;
    grid-template-columns: 90px 80px 70px;
    list-style: none;
}
.main .container .box2 #lista-redes li a img {
    height: 50px;
    transition: 0.4s all;
}
.main .container .box2 #lista-redes img:hover {
    transition: 0.4s all;
    transform: scale(1.3,1.3);
}
.main .container .box2 p {
    margin-left: 25%;
    color: #B8B9BB;
    font-size: 20px;
}
.main .container .box2 form {
    margin-left: 25%;
}
.main .container .box2 form input {
    padding: 6px 0px;
    text-indent: 15px;
    background-color: #ECF0F1;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 350px;
    font-size: 18px;
}
.main .container .box2 #btn_entrar {
    margin-left: 15%;
    width: 200px;
    padding: 12px 0px;
    background-color: #58AF9C;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.4s all;
    font-size: 17px;
}
.main .container .box2 #btn_entrar:hover {
    border: 1px solid #58AF9C;
    color: #58AF9C;
    background-color: white;
    transition: 0.4s all;
}
#msgpopup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: 1px solid #58AF9C;
    border-radius: 20px;
    background-color: white;
}
#img_aguarde {
    margin-top: 2%;
    height: 100px;
    margin-left: 42%;
}
#link-cadastro {
    color: black;
    transition: 0.3s all;
}
#link-cadastro:hover {
    color: red;
    transition: 0.3s all;
}
#msgpopup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 240px;
    padding: 15px;
    border: 1px solid #58AF9C;
    border-radius: 20px;
}